$black_three_two_54: rgba(0, 0, 0, 0.54);
$black_three_two_12: rgba(0, 0, 0, 0.12);
$black_6: rgba(0, 0, 0, 0.06);
$black_87: rgba(0, 0, 0, 0.87);
$black_50: rgba(0, 0, 0, 0.5);
$black_24: rgba(0, 0, 0, 0.24);
$white_nine: #f3f3f3;
$orange: #f47d31;
$anim_duration: 0.3s;
$button-border-radius: 4px;
$global_padding: 24px;
$icon_size: 24px;

$text_2_size: 16px;
