.text-1 {
  font-size: 14px;
  color: $black_87;
  line-height: 21px;
  font-weight: 500;
  word-wrap: break-word;
}

.text-2 {
  font-size: 12px;
  line-height: 16px;
  color: $black_three_two_54;
  text-transform: capitalize;
}

.text-3 {
  font-size: 14px;
  line-height: 21px;
  color: #7b7b7b;
}

.text-4 {
  font-size: 11px;
  color: $black_three_two_54;
}

.text-5{
  font-size: 12px;
  color: $black_24;
}

.heading-0 {
  font-size: 18px;
  color: $black_87;
}

.heading-1{
  font-size: 18px;
  font-weight: bold;
  color: $black_three_two_54;
}

.heading-2{
  font-size: 14px;
  color: #171717;
  font-weight: bold;
}
.wordWrap{
  word-break: break-all;
}